<section class="lander hero light">
  <div class="backwash"></div>
  <div class="content">
    <h1>
      discover passion
    </h1>
    <a>
      join launch academy
    </a>
  </div>
</section>
<section class="lander light about">
  <div class="backwash"></div>
  <div class="content">
    <h1 >
      about us
    </h1>
    <div class="dasher"></div>

    <h2>
      we are vancouver's leading entrepreneurship facility.  <br/>
      we help you build, measure, and learn.
    </h2>

    <div class="features">
      <div class="feat">
        <div class="avatar">

        </div>
        <p>
          mentorship
        </p>
        <div class="tip">
          <ul>
            <li>Up to $60,000 in Azure Hosting (Microsoft Bizspark)</li>
            <li>$1000 Amazon Web Service Credit</li>
            <li>12 Month free access to Zen Desk</li>
            <li>80% off Unbounce Pro Plan</li>
            <li>25% off Strikingly Pro Plan</li>
          </ul>
        </div>
      </div>
      <div class="feat">
        <div class="avatar">

        </div>
        <p>
          space
        </p>
        <div class="tip">
          <ul>
            <li>Up to $60,000 in Azure Hosting (Microsoft Bizspark)</li>
            <li>$1000 Amazon Web Service Credit</li>
            <li>12 Month free access to Zen Desk</li>
            <li>80% off Unbounce Pro Plan</li>
            <li>25% off Strikingly Pro Plan</li>
          </ul>
        </div>
      </div>
      <div class="feat">
        <div class="avatar">

        </div>
        <p>
          events
        </p>
      </div>
      <div class="feat">
        <div class="avatar">

        </div>
        <p>
          perks
        </p>
      </div>
    </div>
  </div>
</section>

<section class="lander companies">
  <div class="backwash"></div>
  <div class="content">
    <h1>
      our companies
    </h1>
    <div class="dasher"></div>

    <h2>
      150 strong. they have collectively raised over $20m.
    </h2>

    <div class="port">

    </div>
  </div>
</section>

<section class="lander mentors">
  <div class="backwash"></div>
  <div class="content">
    <h1>
      our mentors
    </h1>
    <div class="dasher"></div>

    <h2>
      bringing you vancouver's best and brightest
    </h2>

    <div class="port">

    </div>
  </div>
</section>

<section class="lander space light">
  <div class="backwash"></div>
  <div class="content">
    <h1>
      our space
    </h1>
    <div class="dasher"></div>

    <h2>
      co-working space. reimagined for entrepreneurs.
    </h2>

    <div class="port">

    </div>
  </div>
</section>

<section class="lander convert light">
  <div class="content">
    <h1>
      get in touch
    </h1>
    <a>
      join launch academy
    </a>

    <div class="social">
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
    </div>
  </div>
</section>

<div class="footer">
  <div class="links">
    <a>team</a>
    <a>sponsors</a>
    <a>faq</a>
    <a>press</a>
    <a>education</a>
    <a>blog</a>
  </div>
</div>